<div class="container">
  <p>
    <label class="txt">Product Name:</label><br>
    <input class="form-control input" type="text" #query><br>
    <button class="btn btn-primary" (click)="submit(query)">Search</button>
  </p>

  <div *ngIf="results">
    <div class="row">
      <div class="col-sm-6 col-md-4 mb-5" *ngFor="let t of results.products">
        <div class="thumbnail" style="border: 1px solid black">

          <div class="content">
            <img src="{{t.image_url}}" class="img-fluid" alt="">
            <h1 >{{t.brands}}</h1>
            <a [routerLink]="['/item', t.id]">
              <span class="ciao" >Find Out More</span>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>